<div class="post-container">
  <div class="post-container-body">
    <ul class="post-list">
      <li><%= render 'card' %></li>
      <li><%= render 'card' %></li>
      <li><%= render 'card' %></li>
      <li><%= render 'card' %></li>
      <li><%= render 'card' %></li>
      <li><%= render 'card' %></li>
      <li><%= render 'card' %></li>
      <li><%= render 'card' %></li>
    </ul>
  </div>
</div>
