<!DOCTYPE html>
<html>
  <head>
    <title>DndJapan</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>
  <body>
    <div class="page-frame-content">
      <div class="page-frame-header">
      </div>
      <div class="page-frame-body">
        <%= render 'navbar' %>
        <%= render 'banner' %>
        <div class="content-container">
          <%= yield %>
          <%= render 'card' %>
        </div>
      </div>
      <div class="page-frame-footer">
        <%= render 'footer' %>
      </div>
    </div>
  </body>
</html>
